.kdev4/
Binaries/
DerivedDataCache/
Intermediate/
Saved/

Charge.code-workspace
Charge.kdev4
Charge.pro
Charge.workspace
ChargeCodeCompletionFolders.txt
ChargeCodeLitePreProcessor.txt
ChargeConfig.pri
ChargeDefines.pri
ChargeHeader.pri
ChargeIncludes.pri
ChargeSource.pri
CMakeLists.txt
Makefile
